.color{
    background-color: rgb(255, 255, 255);
    border-radius: 10px 60px;
}


.delete-btn {
 
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.delete-btn:hover {
  transform: scale(1.2);
  color: darkred;
}
