.footer{
    height: 40vh;
    background-color: rgb(229, 238, 255);
    border-radius: 25px 110px 60px;
}
.heading{
    font-size: medium;
    font-weight: 200;
    text-align: center;
    color: rgb(16, 22, 26);
}
.link{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: black;
    align-items: center;
}
.content{
     justify-content: center;
     align-items: center;
     text-align: center;
     font-size: larger;
     font-weight: 500;
     gap: 10;
}